<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">價值觀聚焦</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">願景具現化</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">發現超能力</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-8">
          <h4 id="value-focus">價值觀聚焦</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aliquam placeat ducimus cumque dignissimos similique, vel molestias sint asperiores culpa repellat qui ratione in nesciunt veniam animi aliquid. Eum facere modi pariatur officia? Vitae ipsa, doloremque incidunt tempore alias illum beatae cum molestiae reprehenderit nemo unde libero fuga! Magni sapiente corporis eligendi rerum perferendis nihil possimus commodi necessitatibus repellendus ut mollitia beatae amet doloribus voluptatum officiis natus ipsa iure quisquam, tenetur laudantium voluptas enim ratione vel veritatis! Ea totam, quia culpa dolores deserunt itaque dignissimos sunt delectus quisquam possimus quaerat eveniet vitae neque assumenda illo ab id quod tenetur rem doloremque reprehenderit, molestiae perspiciatis fugiat est! Totam earum quidem nesciunt et, ad, aliquid sequi sunt nemo illo magnam eaque deleniti assumenda quasi repellendus. Exercitationem nisi tempora ratione consequatur? Ab minus, eligendi eveniet quas iure asperiores facere praesentium quos omnis quam exercitationem quidem voluptates nisi distinctio voluptas saepe veniam totam reiciendis possimus nulla et. Labore doloribus earum laboriosam laudantium magnam hic? Maiores suscipit iusto omnis debitis quos amet possimus animi rerum saepe! Modi laboriosam in molestiae aspernatur laborum voluptates adipisci explicabo ab voluptatem nisi repellat ratione id dolorum earum obcaecati, placeat possimus unde ullam pariatur quis nobis quas esse quidem. Repudiandae sed quidem reiciendis consectetur deserunt! Incidunt cupiditate accusantium, culpa delectus voluptatibus, voluptas, sed modi inventore vel a alias possimus earum quo quos fugit ipsam at veniam in iste dolorum quia perspiciatis. Qui, saepe neque iste veniam consequatur itaque at molestiae ratione quis natus sit voluptate voluptatibus doloribus aperiam corporis? Amet totam voluptatum ducimus quia dolorem consectetur mollitia illo facere necessitatibus sunt excepturi provident quae, atque doloribus? Impedit ratione suscipit fugit modi consequuntur, esse est hic ab soluta porro doloremque, placeat repudiandae voluptates at? Delectus, harum, explicabo odio nam nemo natus voluptates sequi est ea eos molestiae praesentium nostrum unde. Nemo?</p>
        </div>  
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-8">
          <h4 id="vision-specific">願景具現化</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aliquam placeat ducimus cumque dignissimos similique, vel molestias sint asperiores culpa repellat qui ratione in nesciunt veniam animi aliquid. Eum facere modi pariatur officia? Vitae ipsa, doloremque incidunt tempore alias illum beatae cum molestiae reprehenderit nemo unde libero fuga! Magni sapiente corporis eligendi rerum perferendis nihil possimus commodi necessitatibus repellendus ut mollitia beatae amet doloribus voluptatum officiis natus ipsa iure quisquam, tenetur laudantium voluptas enim ratione vel veritatis! Ea totam, quia culpa dolores deserunt itaque dignissimos sunt delectus quisquam possimus quaerat eveniet vitae neque assumenda illo ab id quod tenetur rem doloremque reprehenderit, molestiae perspiciatis fugiat est! Totam earum quidem nesciunt et, ad, aliquid sequi sunt nemo illo magnam eaque deleniti assumenda quasi repellendus. Exercitationem nisi tempora ratione consequatur? Ab minus, eligendi eveniet quas iure asperiores facere praesentium quos omnis quam exercitationem quidem voluptates nisi distinctio voluptas saepe veniam totam reiciendis possimus nulla et. Labore doloribus earum laboriosam laudantium magnam hic? Maiores suscipit iusto omnis debitis quos amet possimus animi rerum saepe! Modi laboriosam in molestiae aspernatur laborum voluptates adipisci explicabo ab voluptatem nisi repellat ratione id dolorum earum obcaecati, placeat possimus unde ullam pariatur quis nobis quas esse quidem. Repudiandae sed quidem reiciendis consectetur deserunt! Incidunt cupiditate accusantium, culpa delectus voluptatibus, voluptas, sed modi inventore vel a alias possimus earum quo quos fugit ipsam at veniam in iste dolorum quia perspiciatis. Qui, saepe neque iste veniam consequatur itaque at molestiae ratione quis natus sit voluptate voluptatibus doloribus aperiam corporis? Amet totam voluptatum ducimus quia dolorem consectetur mollitia illo facere necessitatibus sunt excepturi provident quae, atque doloribus? Impedit ratione suscipit fugit modi consequuntur, esse est hic ab soluta porro doloremque, placeat repudiandae voluptates at? Delectus, harum, explicabo odio nam nemo natus voluptates sequi est ea eos molestiae praesentium nostrum unde. Nemo?</p>
        </div>  
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-8">
          <h4 id="superpower">發現超能力</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aliquam placeat ducimus cumque dignissimos similique, vel molestias sint asperiores culpa repellat qui ratione in nesciunt veniam animi aliquid. Eum facere modi pariatur officia? Vitae ipsa, doloremque incidunt tempore alias illum beatae cum molestiae reprehenderit nemo unde libero fuga! Magni sapiente corporis eligendi rerum perferendis nihil possimus commodi necessitatibus repellendus ut mollitia beatae amet doloribus voluptatum officiis natus ipsa iure quisquam, tenetur laudantium voluptas enim ratione vel veritatis! Ea totam, quia culpa dolores deserunt itaque dignissimos sunt delectus quisquam possimus quaerat eveniet vitae neque assumenda illo ab id quod tenetur rem doloremque reprehenderit, molestiae perspiciatis fugiat est! Totam earum quidem nesciunt et, ad, aliquid sequi sunt nemo illo magnam eaque deleniti assumenda quasi repellendus. Exercitationem nisi tempora ratione consequatur? Ab minus, eligendi eveniet quas iure asperiores facere praesentium quos omnis quam exercitationem quidem voluptates nisi distinctio voluptas saepe veniam totam reiciendis possimus nulla et. Labore doloribus earum laboriosam laudantium magnam hic? Maiores suscipit iusto omnis debitis quos amet possimus animi rerum saepe! Modi laboriosam in molestiae aspernatur laborum voluptates adipisci explicabo ab voluptatem nisi repellat ratione id dolorum earum obcaecati, placeat possimus unde ullam pariatur quis nobis quas esse quidem. Repudiandae sed quidem reiciendis consectetur deserunt! Incidunt cupiditate accusantium, culpa delectus voluptatibus, voluptas, sed modi inventore vel a alias possimus earum quo quos fugit ipsam at veniam in iste dolorum quia perspiciatis. Qui, saepe neque iste veniam consequatur itaque at molestiae ratione quis natus sit voluptate voluptatibus doloribus aperiam corporis? Amet totam voluptatum ducimus quia dolorem consectetur mollitia illo facere necessitatibus sunt excepturi provident quae, atque doloribus? Impedit ratione suscipit fugit modi consequuntur, esse est hic ab soluta porro doloremque, placeat repudiandae voluptates at? Delectus, harum, explicabo odio nam nemo natus voluptates sequi est ea eos molestiae praesentium nostrum unde. Nemo?</p>
        </div>  
      </div>
    </div>
  </div>

  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">



 



  </div>
</div>