<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" onclick="window.open('https://github.com/Arixxle');" class="btn btn-secondary" >GitHub</button>
      <button type="button" onclick="window.open('https://medium.com/@mr.bice');" class="btn btn-secondary">Medium</button>
      <button type="button" onclick="window.open('https://www.facebook.com/tseyang.hung');" class="btn btn-secondary">Facebook</button>
    </div>
  </div>
</div>