<div class="container mt-3 mb-3">
  <div id="gp-header" class="header row">
    <div class="col-12 col-md-2">
      <div class="hd-avatar">
        <img src="/pic/avatar-joseph.jpg" alt="avatar">
      </div>
    </div>
    <div class="hd-txt col-12 col-md-7">
      <h3>洪澤洋 Joseph</h3>
      <small>Career Instructor / Project Manager / Concept Artist</small>
      <p>擁有4年遊戲美術開發經驗，4年管理顧問經驗，擅長專案管理、流程改善、跨部門溝通。在職涯顧問的經驗中，培養透過深度訪談的方式瞭解客戶真正需求，並進行問題分析與解決。開創性格使我樂於動手解決全新問題，透過製作原型驗證想法，並逐步實現產品。</p>
    </div>
    <div class="hd-info col-12 col-md-3">
      <p><i class="fas fa-phone-square-alt"></i>0921654653</p>
      <p><i class="fas fa-envelope-square"></i>mr.bice@hotmail.com</p>
      <p><i class="fab fa-github"></i>Arixxle</p>
      <p><i class="fab fa-medium"></i>@mr.bice</p>
      <p><i class="fab fa-facebook-square"></i>tseyang.hung</p>
    </div>
  </div>
  <div id="gp-skill" class="row">
    <div class="col-12">
      <h3>Skills</h3>
    </div>
    <div id="skill-items" class="col-12 col-md-4">
      <p>HTML / CSS</p>
      <p>Bootstrap</p>
      <p>Responsive Web Design</p>
      <p>JavaScript</p>
      <p>jQuery</p>
    </div>
    <div id="skill-items" class="col-12 col-md-4">
      <p>AJAX</p>
      <p>Git / GitHu</p>
      <p>Ruby on Rails</p>
      <p>Photoshop</p>
      <p>Illustrator</p>
    </div>
    <div id="skill-items" class="col-12 col-md-4">
      <p>Adobe XD</p>
      <p>Microsoft Office</p>
      <p>專案管理</p>
      <p>流程改善</p>
      <p>跨部門溝通</p>
    </div>
  </div>
  <div id="gp-portfolio" class="row">
    <div class="col-12">
      <h3>Portfolio</h3>
      <div class="pf-item d-flex">
          <img src="/pic/portfolio1-1.jpg" alt="portfolio">
          <img src="/pic/portfolio1-2.jpg" alt="portfolio">
        <div class="d-flex flex-column justify-content-between ml-3">
          <h5>Astrocamp demo project - Typing Game</h5>
          <p>負責打字遊戲原型開發，單機遊戲、對戰遊戲功能開發，即時通訊功能開發（Rails Action Cable）、客製化視覺風格設計。</p>
          <div>
            <a href="https://noobtyping-backup.herokuapp.com/" target="_blank">Link</a>
            <a href="https://github.com/kkbox2468/TypingPractice-2.0.0" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
      <div class="pf-item d-flex">
        <img src="/pic/portfolio2-1.jpg" alt="portfolio">
        <img src="/pic/portfolio2-2.jpg" alt="portfolio">
        <div class="d-flex flex-column justify-content-between ml-3">
          <h5>HTML/CSS practice project</h5>
          <p>不依靠Bootstrap，利用HTML/CSS純手工切版，熟練Flex、Grid system、RWD的觀念。</p>
          <div>
            <a href="https://arixxle.github.io/learn-web/0316/0316-hw.html" target="_blank">Link</a>
          </div>
        </div>
      </div>
      <div class="pf-item d-flex">
        <img src="/pic/portfolio3-1.jpg" alt="portfolio">
        <img src="/pic/portfolio3-2.jpg" alt="portfolio">
        <div class="d-flex flex-column justify-content-between ml-3">
          <h5>HTML/CSS Neumorphism practice</h5>
          <p>練習新興設計風格，培養網頁設計美感。</p>
          <div>
            <a href="https://arixxle.github.io/learn-web/0514/index.html" target="_blank">Link1</a>
            <a href="https://arixxle.github.io/learn-web/0513/index.html" target="_blank">Link2</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="gp-experience" class="row">
    <div id="ex-content" class="col-12">
      <h3>Experiences</h3>
      <h5 class="d-inline-block">五倍紅寶石Astro Camp 第4屆</h5>
      <ul>
        <li>從零開始學習HTML/CSS、Ruby、Ruby on Rails、JavaScript、Git…等，建構扎實的程式基礎概念及網路運作知識。</li>
      </ul>
      <h5 class="d-inline-block">大人學（識博管理顧問）</h5>
      <h6>職涯輔導顧問、職涯線上課程教練</h6>
      <ul>
        <li>2018、2019高雄大學 新生職涯探索講座（300人） 講師。</li>
        <li>掛名推薦采實文化《讓每一次的離職都加分》。 專文推薦遠流-《2030轉職地圖》、樂金文化《職場上做人很累，不會做人更累》及方言文化《全球800CEO必備的應變智商》</li>
        <li>主導職涯顧問服務建立，負責流程優化與實際訪談，一年內完成50人次，150小時職涯輔導。</li>
        <li>2018年取得正式GCDF全球職涯發展師執照。 </li>
        <li>開發職涯規劃線上課程，從課程內容擬定、簡報製作、錄製、剪輯一人完成，共10部短影片與20項作業設計，累計超過200人次購買</li>
        <li>完成開發職涯探索地圖設計，累計約70人次購買。</li>
        <li>主導3堂線上音頻課程設計，每堂課程約20~25段單元主題，執行內容包含：擬定課綱、講師訪談、內容編撰、錄音輔導，於4個月內全數完成並上架銷售。 </li>
      </ul>
      <h6>教育訓練規劃師</h6>
      <ul>
        <li>帶領6人實習生團隊，處理所有課程準備行政事項，確保每周3-5堂課程順利開辦與執行，優化工作流程與步驟，主導建立工作SOP，減少20%人力需求。</li>
        <li>建立自動化表單，將1小時的工作量縮減至10分鐘內可完成。</li>
        <li>熟稔公司多達30門課程之差異，能清楚解釋課程細微處的不同，屢獲學員肯定。</li>
        <li>負責電子報設計、編排，並優化自動化行銷流程，達成平均50%以上的高開信率。</li>
        <li>2018主辦120人大型講座，負責招生定位、場地租借、議程安排、動線與服務規畫等工作。</li>
        <li>2016年負責企業教育訓練開發、對焦、執行，經手金額約100萬新台幣。 參與3門公開課程內容開發與流程優化。</li>
        <li>具備專案管理概念及工具使用知識。</li>
        <li>推動報名網站上線，實際測試、除錯，參與部分的使用者體驗流程優化。</li>
      </ul>
      <h5 class="d-inline-block">雷亞遊戲</h5>
      <h6>資深場景美術</h6>
      <ul>
        <li>代表場景組與程式組溝通協調，共同開發美術編輯工具、特效編輯模組，清晰的邏輯與口條受同事認可。</li>
        <li>3個月內上手Unity使用，並負責Unity關卡美術編排、全域特效、場景動態、素材控管，主導場景美術Unity工作流程，完成30個主支線關卡編輯。</li>
        <li>與同仁協力，使場景美術完成進度超前專案總進度約2個月，並提前4個月完成公測關卡進度。</li>
        <li>獨立完成4個主要關卡美術設計與完稿。</li>
        <li>負責合成介面繪製。</li>
      </ul>
      <h5 class="d-inline-block">思維工坊</h5>
      <h6>場景美術</h6>
      <ul>
        <li>到職1個月達成貼圖繪製水平（平均2.5個月）。</li>
        <li>因貼圖繪製優異，負責全區域星空貼圖繪製。</li>
        <li>錄製PS 自動指令，加快貼圖反光層繪製，為全公司美術組減少50%繪製時間。</li>
        <li>到職1年，負責全文明場景風格定調。（包含建築風格、載具風格、風俗文化...等）。</li>
      </ul>
    </div>
  </div>
  <div id="gp-others" class="row">
    <div id="other-items" class="col-12 col-md-6">
      <h3>Education</h3>
      <ul>
        <li>GCDF 全球職涯發展師訓練</li>
        <li>光翼 - 遊戲概念美術訓練 - 2014</li>
        <li>光翼 - 遊戲概念美術訓練 - 2012</li>
        <li>崑山科技大學 - 視覺傳達設計系畢</li>
        <li>奧地利 - 林茲藝術大學 交換學生</li>
      </ul>
    </div>
    <div id="other-items" class="col-12 col-md-6">
      <h3>Reference Course</h3>
      <ul>
        <li>專案管理一日特訓</li>
        <li>PMP專案管理8週班</li>
        <li>Microsoft Project 動態排程</li>
        <li>流程優化與跨部門溝通</li>
      </ul>
    </div>    
  </div>
  <div id="gp-quote" class="row">
    <p>Keep practicing! Keep doing!</p>
  </div>

  <!-- <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" onclick="window.open('https://github.com/Arixxle');" class="btn btn-secondary" >GitHub</button>
      <button type="button" onclick="window.open('https://medium.com/@mr.bice');" class="btn btn-secondary">Medium</button>
      <button type="button" onclick="window.open('https://www.facebook.com/tseyang.hung');" class="btn btn-secondary">Facebook</button>
    </div>
  </div> -->
</div>