.container {
  background-color: #fff;
}
#gp-header, #gp-quote {
  background-color: #43434B;
  color: #fff;
  padding: 20px;
  .hd-avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 120px;
    }
  }
  .hd-txt {
    padding: 10px;
  }
  .hd-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p {
      font-size: 16px;
      i {
        font-size: 22px;
        margin-right: 8px;
      }
    }
  }
}
#gp-skill {
  padding: 10px;
  #skill-items {
    position: relative;
    padding-left: 40px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 20px;
      background-color: #ecb51b;
      width: 5px;
      height: 100%;
    }
  }
}
#gp-portfolio {
  padding: 10px;
  .pf-item {
    margin: 10px 0;
    img {
      width: 200px;
      margin-right: 5px;
    }
  }
}
#gp-experience {
  padding: 10px;
  #ex-content {
    ul {
      margin-left: 30px;
      li {
        position: relative;
      }
      li::before {
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #ecb51b;
        border-radius: 50%;
        position: absolute;
        left: -15px;
        top: 35%;
      }
    }
  }
}
#gp-others {
  padding: 10px;
  #other-items {
    ul {
      position: relative;
      li {
        padding-left: 20px;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 3px;
        background-color: #ecb51b;
        width: 5px;
        height: 100%;
      }
    }
  }
}